*.sdf
*.pdf
*.exe
*.user
*.suo



ExternalDLL/ExternalDLL/OpenCV/staticlib_x86_vc12/OpenCVConfig.cmake
ExternalDLL/ExternalDLL/OpenCV/staticlib_x86_vc12/OpenCVModules.cmake
ExternalDLL/ExternalDLL/OpenCV/staticlib_x86_vc12/OpenCVModules-debug.cmake
ExternalDLL/ExternalDLL/OpenCV/staticlib_x86_vc12/OpenCVModules-release.cmake


ExternalDLL/Debug/*
ExternalDLL/DebugOutput/*
ExternalDLL/ExternalDLL/Debug/*
ExternalDLL/ExternalDLL/Release/*
ExternalDLL/Release/*

FaceRecognitionGUI/FaceRecognitionGUI/bin/
FaceRecognitionGUI/FaceRecognitionGUI/obj/

!ExternalDLL/ExternalDLL/OpenCV/staticlib_x86_vc12/*.lib
*.opensdf

